*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Poppins:wght@400;600&display=swap');

/*Variables*/

:root {
    --principal: #FFFFFF ;
    --secondary: #062b3b;
    --font-primary: "Poppins", sans-serif;
    --font-primary-black: "Poppins Regular 400", sans-serif;
    --font-secundary: "Lora", sans-serif;
    --font-secondary-black: "Lora SemiBold 600", sans-serif;
    --text-lg-title: 3.438rem;
    --text-md-text: 1.25rem;
    --text-buttom: 1.563rem;
    --text-sm: 1.125rem;
}

/*globals*/

html {
    font-size: 1.125rem;
    font-family: var(--font-primary);
    color: var(--secondary);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/*Helper*/

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1512px;
    margin: 0 auto;
}

/*Header*/


button.nav-btn {
    border-radius: 1.375rem;
    background-color: #72B6B9;
    color: #ede9e0; 
    border-color: none;
    border-style: hidden;
    box-shadow:10px 10px 140px #062B3B;
    padding-right: 1.563rem;
    padding-left: 1.563rem;
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
    font-family: Poppins, sans-serif;
}

button.nav-btn:hover {
    background-color: #BCD9F4;
    color: #343234;
    box-shadow:10px 10px 140px #062B3B ;
    font-family: Poppins, sans-serif;
    border-style: hidden;
}

.item:hover {
    background-size: 100% 0.125rem;
    color: #343234;
}


/*Body_one*/

h3.title__one {
    color: #343234;
    font-family: Poppins, sans-serif;
    font-size: 0.75rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

h2.main__title {
    color: #343234;
    font-family: Lora, sans-serif;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

h2.main__title_one {
    color: #343234;
    font-family: Lora, sans-serif;
    font-size: 2.5rem;
    margin-left: 2rem; 
}

h3.title__one__one {
    color: #343234;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-display: var(--font-primary-black);
    font-size: 0.75rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.button__one {
    background-color: #BCD9F4;
    color: #343234;
    border-radius: 1.375rem;
    padding-right: 1.563rem;
    padding-left: 1.563rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
    font-family: Poppins, sans-serif;
    font-size: 0.75rem;
    border-color: #BCD9F4;
    margin-left: 2rem;
    margin-top: 1rem;
    box-shadow:5px 5px 200px #062B3B;
    border-style: hidden;
}

.button__one:hover {
    box-shadow:5px 5px 200px #062B3B;
    background-color: #062b3b;
    color: #BCD9F4;
    border-color: #062B3B;
    border-style: hidden;
}

div.reseñas_block {
    margin-top: 2.5rem;
    margin-left: 2rem;
}

h2.reseñas {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
}

p.reseñas_one {
    margin-top: 0.3rem;
    font-size: 0.85rem;
}

img.leermaslogo {
    vertical-align: middle;
    margin-top: 0.5rem;
    font-size: 0.75rem;
}

img.leermaslogo:hover {
    background-size: 100% 0.125rem;
    color: #343234;
}

img.btn_emergencias {
    margin-left: -4rem;
    margin-top: -3rem;
}


div.padre_general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.chica_one {
    display: flex;
    flex-direction: row-reverse;
    height: 1050px;
    width: 620px; 
    z-index: -1;
    margin-right: 2.5rem;   
}

div.scroll {
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 1;
}


/*Body_two*/

h2.nosotros {
    font-family: Poppins, sans-serif;
    font-size: 2.8rem;
    color: #343234;
    margin-left: 2rem;
}

p.p_nosotros {
    font-family: Poppins, sans-serif;
    font-size: 0.9rem;
    color: #343234;
    margin-left: 2rem;
}

div.card.text-center.d-flex {
    background-color:#BCD9F4 ;
    border-radius: 1.3rem;
    padding: 1rem;
    border-style: none;
    border-color: none;
    font-family: poppins, sans-serif;
    margin-bottom: 1rem;
}

a.btn.btn-primary {
    background-color: #343234;
    color: #ede9e0;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    padding-right: 1.563rem;
    padding-left: 1.563rem;
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
    border-radius: 1.25em;
    border-color: none;
    margin-top: 0.8rem;
    border-style: none;
}

a.btn.btn-primary:hover {
    background-color: #ede9e0;
    color: #343234;
}

div.card.text-center.box_two {
    background-color: #72B6B9;
    border-radius: 1.3rem;
    border-color: none; 
    border-style: none;
    font-family: poppins, sans Sans-serif;
    margin-bottom: 1rem;
}

div.card.text-center.box_three {
    background-color: #062b3b ;
    border-radius: 1.3rem;
    border-color: none;
    border-style: none;
    font-family: poppins, sans-serif;
    color: #ede9e0;
    margin-bottom: 1rem;
}


a.btn.btn-primary.btn_three {
    background-color: #BCD9F4;
    color: #062b3b;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    padding-right: 1.563rem;
    padding-left: 1.563rem;
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
    border-radius: 1.25rem;
    border-color: none;
    border-style: none;
    margin-top: 0.8rem;
}

a.btn.btn-primary.btn_three:hover {
    background-color: #72B6B9;
    color: #343234;
}


/*Body_three*/

.sustentabilidad {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 2.5rem;
}

.text_sustentabilidad {
    margin-top: 18rem; 
}

.image_sustentabilidad {
    height: 56.35rem;
    width: 32.5rem;
    margin-left: 2.5rem;
}
.sustentabilidad_one {
    font-family: lora, sans-serif;
    font-size: 2rem;
    color: #343234;
    margin-left: 2rem;
}

.sustentabilidad_one_one {
    margin-bottom: 2rem;
    font-family: lora, sans-serif;
    font-size: 2rem;
    color: #343234;
    margin-left: 2rem;
}

.sustentabilidad_two {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 2.5rem;
}

.btn_sustentabilidad {
    background-color: #BCD9F4;
    border-radius: 22px;
    border-color: #BCD9F4;
    font-family: poppins, sans-serif;
    color: #343234;
    box-shadow:10px 10px 60px #062B3B;
    padding-right: 1.563rem;
    padding-left: 1.563rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
    margin-left: 2rem;
    border-style: hidden;
}

.btn_sustentabilidad:hover {
    background-color: #062B3B;
    color: #FFFFFF;
    border-color: #062B3B;
    margin-left: 2rem;
}

img.leermas {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    vertical-align: middle;
    margin-left: 2rem;
}

.text_leer_mas {
    margin-top: 4rem;
    margin-left: 0.5rem;
}

/*Body_four*/


.nuestros_servicios_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: poppins, sans-serif;
    font-size: 2.813rem;
    color: #343234;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

div.nuestros_servicios_one {
    display: flex;
}

.nuestros_servicios_one ul {
    list-style-image: url(./public/imagen.jpg/Icono.png);
    margin-left: 5rem;
    font-family: poppins, sans-serif;
    color: #72B6B9;
    font-size: 1.375rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.nuestros_servicios_one h4 {
    font-family: poppins, sans-serif;
    color: #72B6B9;
    font-size: 1.375rem;
}

.nuestros_servicios_one p {
    font-family: poppins, sans-serif;
    color: #343234;
    font-size: 0.75rem;
}

.nuestros_servicios_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 490px;
}

img.leermas_two {
    vertical-align: middle;
}

.nuestros_servicios_two {
    margin-right: 2.5rem;
}
/*Body_five*/

.estrellas {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
}
.resenas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resena_one {
    background-color: #062B3B;
    margin-top: 3rem;
    height: 12rem;
}

.text_block_r_i {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text_block_r_ii {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text_block_r_iii {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.resena_p {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    margin-left: 3rem;
}

.resena_h4 {
    font-family: poppins, sans-serif;
    font-size: 0.8rem ;
    color: #FFFFFF;
    margin-top: 1rem;
    margin-left: 3rem;
}

.resena_two {
    background-color: #72B6B9;
    height: 12rem;
}

.resena_p2 {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-left: 3rem;
}

.resena_h42 {
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #343234;
    margin-top: 1rem;
    margin-left: 3rem;
}

.resena_three {
    background-color: #BCD9F4;
    height: 12rem;
}

.resena_p3 {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-left: 3rem;
}

.resena_h43 {
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #343234;
    margin-top: 1rem;
    margin-left: 3rem;
}

.inverted_comas {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/*Body_six*/

.btn_modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.btn.btn-primary {
    background-color: #062B3B;
    border-style: none;
    border-color: none;
    border-radius: 1.3rem;
    padding-right: 1.563rem;
    padding-left: 1.563rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow:10px 10px 60px #062B3B;
}

button.btn.btn-primary:hover {
    background-color: #BCD9F4;
    color: #062b3b;
    box-shadow:10px 10px 60px #062B3B;
}

.body_form {
    background-color: #72B6B9;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 4rem;
    border: 22px;
    border-color: #72B6B9;
    position: absolute;
    top: 700%;
    transform: translateY(-50%);
    width: 100%;
}

.flip-card{
    border-radius: 0.5rem;
    position: absolute;
    top: 700%;
    left: 1rem;
    width: 400px;
    padding: 0.5rem;
    border: #72B6B9;
    text-align: center;
    cursor: pointer;
    z-index: 9;
}


.title_contact {
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #343234;
}

.contact_form_user {
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #ede9e0;
}

.contact_form_mail {
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #ede9e0;
}

.contact_form_phone {
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #ede9e0;
}

.contact_form_contact {
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    color: #ede9e0;
}

input,
textarea {
    width: 100%;
    box-shadow: 0;
    background: transparent;
    color:#343234 ;
}

input{
    border-width: 0 0 0.1rem;
    border-color: #343234;
    border-style: solid;
}

textarea{
    border: 0.1rem solid #343234;
    border-radius: 0.25rem;
}

.contact_form_send {
    background-color: #343234;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    box-shadow: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.form-fields-button {
    background-color: #062B3B;
    color: #FFFFFF;
    font-family: poppins, sans-serif;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
    padding-top: 0.313rem;
    padding-top: 0.313rem;
    border-radius: 1.375rem;
    border-color: #062B3B;
    border-style: hidden;
}

.form-fields-button:hover {
    background-color: #ede9e0;
    color: #343234;
    border-color: #ede9e0;
}


/*Footer*/ 

.footer {
    color: #FFFFFF;
    font-family: Poppins, sans-serif;
}

.li_urgencias {
    list-style-image: url(./public/imagen.jpg/emergencia_dental.png);
}

.li_whatsapp {
    list-style-image: url(./public/imagen.jpg/whatsapp.png);
}

.li_fijo {
    list-style-image: url(./public/imagen.jpg/Phone.png);
}

.li_mail {
    list-style-image: url(./public/imagen.jpg/Mail.png);
}


/*Cita_Previa*/

.title_cp {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}

.title_cp_ii {
    font-family: poppins, sans-serif;
    font-size: 2.5rem;
    color: #343234;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.title_cp_iii {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.img_emer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

p.card-text {
    margin: 0rem;
    margin-bottom: 0rem;
}

.img_back {
   display: flex;
   flex-direction: row-reverse;
   margin-top: 2rem;
   margin-left: 70rem;
   margin-bottom: 2rem;
}



/*Nuestros_Servicios*/

.img_muela {
    width: 37.5rem;
    height: 34.922rem ;
}

.text_ns {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-top: 3rem;
}

.title_ns {
    margin-top: 0.5rem;
    font-family: poppins, sans-serif;
    font-size: 2.5rem;
    color: #343234;
}

.text_ns_ii {
    margin-top: 0.5rem;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
}

.title_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph_block {
    display: flex;
    flex-direction: row;
}

.text_block_i {
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-bottom: 0rem;
}
.text_block_ii {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-bottom: 0rem;
}

.text_block_iii {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-bottom: 0rem;
}
.text_block_iv {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    font-family: poppins, sans-serif;
    font-size: 1em;
    color: #343234;
    margin-bottom: 0rem;
}

.text_block_v {
    margin-left: 20rem;
    margin-top: 2.5rem;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-bottom: 0rem;
}

.text_block_vi {
    margin-left: 20rem;
    margin-top: 0.5rem;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-bottom: 0rem;
}

.text_block_vii {
    margin-left: 20rem;
    margin-top: 0.5rem;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-bottom: 0rem;
}

.text_block_viii {
    margin-left: 20rem;
    margin-top: 0.5rem;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    font-style: bold;
    margin-bottom: 0rem;
}

.btn_ns_i {
    background-color: #062b3b;
    color: #ede9e0;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
    border-radius: 1.5rem ;
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    box-shadow:10px 10px 140px #062B3B ;
    border-style: none;
    border-color: none;
    margin-top: 2rem;
}

.btn_ns_i:hover {
    background-color: #72B6B9;
    color: #ede9e0;
}

.btn_ns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_img {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-left: 70rem;
    margin-bottom: 2rem;
}


 /*Sustentabilidad*/

.title_s_i {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #343234;
    margin-left: 2.5rem;
    margin-top: 2rem;
}

.title_s_ii {
    font-family: poppins, sans-serif;
    font-size: 2.5rem;
    color: #343234;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.title_s_iii {
    font-family: poppins, sans-serif;
    font-size: 2.5rem;
    color: #343234;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.title_s_iv {
    font-family: poppins, sans-serif;
    font-size: 2.5rem;
    color: #343234;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.p_s_i {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    color: #343234;
    margin-bottom: 0rem;
}

.p_s {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-top: 0.1rem;
    color: #343234;
    margin-bottom: 0rem;
}

.btn_s {
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
    background-color: #062B3B;
    color: #ede9e0;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    box-shadow:10px 10px 140px #062B3B ;
    border-style: none;
    border-radius: 1.5rem;
    border-color: none;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.btn_s:hover {
    background-color: #72B6B9;
    color: #062B3B;
}

.img_s {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 6rem;
}

.content {
    display: flex;
    align-items: center;
}

.back_s {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 2.5rem;
    margin-bottom: 1.5rem;
}

ul.list-unstyled.mb-0.flex-row {
    justify-content: center;
}


/* RESPONSIVE */

@media screen and (max-width: 480px) {
    div.chica_one {
        display: none;
    }
    .title__one {
        font-size: 0.75rem;
    }
    .img {
        width: 2.93rem;
        height: 13.32rem;
    }
    .img_2 {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .nuestros_servicios_one {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        margin-right: 2.5rem;
    }
    .img_muela {
        display: none;
    }
    .nuestros_servicios_img {
        height: 0rem;
    }
    .leermas_two {

    }
    .nuestros_servicios_two {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin-right: 2.5rem;
    }
    .resena_one {
        height: 18rem;
    }
    .text_block_r_i{
        margin-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .resena_p {
        margin-right: 1rem;
    }
    .resena_two {
        height: 18rem;
    }
    .text_block_r_ii {
        margin-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .resena_p2 {
        margin-right: 1rem;
    }
    .resena_three {
        height: 18rem;
    }
    .text_block_r_iii {
        margin-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .resena_p3 {
        margin-right: 1rem;
    }
    button.btn.btn-primary {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    div.row.justify-content-evenly {
        margin-right: 0.75rem;
        margin-left: 2rem;
    }
    a.navbar-brand {
        height: 3.93rem;
        width: 15.25rem;
    }
    .img_s {
        display: none;
    }
    h2.title_s_iii {
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: 1rem;
    }
    h2.title_s_ii {
        margin-bottom: 0rem;
        margin-right: 1rem;
    }
    .title_cp_iii {
        margin-bottom: 1.5rem;
    }
    div.sustentabilidad {
        display: flex;
        flex-direction: column-reverse;
    }
    .text_sustentabilidad {
        margin-top: 2.5rem;
    }
    .sustentabilidad_one {
        margin-left: 0rem;
        margin-bottom: 0rem;
    }
    .sustentabilidad_one_one {
        margin-left: 0rem;
        margin-top: 0rem;
    }
    .sustentabilidad_two {
        margin-left: 0rem;  
    }
    .text_block_v {
        margin-left: 0rem;
        margin-right: 0.75rem;
    }
    .text_block_vi {
        margin-left: 0rem;
        margin-right: 0.75rem;
    }
    .text_block_vii {
        margin-left: 0rem;
        margin-right: 0.75rem;
    }
    .text_block_viii {
        margin-left: 0rem;
        margin-right: 0.75rem;
    }
    .text_block_i {
        margin-right: 0.5rem;
        margin-left: 1.25rem;
    }
    .text_block_ii {
        margin-right: 0.5rem;
        margin-left: 1.25rem;
    }
    .text_block_iii {
        margin-right: 0.5rem;
        margin-left: 1.25rem;
    }
    .text_block_iv {
        margin-right: 0.5rem;
        margin-left: 1.25rem;
    }
    .back_img {
        margin-left: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 15rem;
    }
    img.img_back {
        margin-left: 15rem;
    }
    .img_2 {
        display: none;
    }
    .btn_sustentabilidad {
        margin-top: 1.5rem;
    }
    .leer_mas_s {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
}

@media (max-width: 1025px) {
    .nuestros_servicios_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .title_one {
        font-size: 2.5rem;
    }
    .title_cp_iii {
        margin-bottom: 2.5rem;
    }
}